<!DOCTYPE html>
<html lang="jp">
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}" />
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./assets/css/layout.css" rel="stylesheet">
  <script src="./assets/js/jquery-1.12.4.min.js"></script>
</head>
<body>

    <div class="container">
      {{#block "header"}}
      {{> header}}
      {{/block}}
      
      <!-- ▼main ================================================== -->
      <main id="main">
        {{#block "main"}}
        {{{contents}}}
        {{/block}}
      </main><!-- /#main -->
      <!-- ▲main ================================================== -->
      
      {{#block "footer"}}
      {{> footer}}
      {{/block}}
    </div>

</body>
</html>
