<!-- ▼footer ================================================== -->
<footer id="footer">
    <div class="c-footer">
        <div class="c-footer__contact">
            <h3 class="c-title-ft">Contact US</h3>
            <dl>
                <dt>Address:</dt>
                <dd>72/4 Truong Quoc Dung Street, Ward 10, Phu Nhuan District, Ho Chi Minh City, Vietnam</dd>
            </dl>
            <dl>
                <dt>Tel:</dt>
                <dd><a href="tel:+84 8 3997 5901">+84 8 3997 5901</a></dd>
            </dl>
            <dl>
                <dt>Fax:</dt>
                <dd>+84 8 3997 5900</dd>
            </dl>
            <dl>
                <dt>Email:</dt>
                <dd><a href="mailto:contact-us@sutrixmedia.com">contact-us@sutrixmedia.com</a></dd>
            </dl>
        </div>
        <div class="c-footer__nav">
            <h3 class="c-title-ft">Quick links</h3>
            <ul>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Latest News</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="c-footer__email">
            <h2 class="c-title-01">newsletter</h2>
            <label for=""><input type="text" placeholder="Enter Email ..."></label>
            <button class="c-btn-email">Sign Up</button>
        </div>
    </div>

    <div class="c-copyright">
        <nav class="c-gNav-ft">
            <ul>
                <li><a href="">Homepage</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">News & Events</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </nav>
        <small>Copyright © 2014 Template Demo All Rights Reserved.</small>
    </div>
</footer>
<!-- ▲footer ================================================== -->
<script src="./assets/js/slick/slick.js"></script>
<script src="./assets/js/functions.js"></script>
