<!-- ▼header================================================== -->
<div class="c-head">
    <h1 class="c-head__logo">
        <a href="/"><img src="./assets/img/common/logo.png" alt=""></a>
    </h1>
    <div class="c-head__search">
        <label for="">
            <input type="text" name="" placeholder="Search">
            <button class="c-head__submit" type="submit"><img src="./assets/img/common/search.png" alt=""></button>
        </label>
        <ul class="c-head__trl">
            <li><a href=""><img src="./assets/img/common/vn.png" alt=""></a></li>
            <li><a href=""><img src="./assets/img/common/en.png" alt=""></a></li>
            <li><a href=""><img src="./assets/img/common/fr.png" alt=""></a></li>
        </ul>
    </div>
</div>

<nav class="c_gNavi">
    <ul>
        <li><a href="">about us</a></li>
        <li><a href="">services</a></li>
        <li><a href="">news & events</a></li>
        <li><a href="">gallery</a></li>
        <li><a href="">contact us</a></li>
        <li><a href="">faqs</a></li>
    </ul>
</nav>
<!-- ▲header ================================================== -->